*{
    margin: 0px;
    padding: 0px;
    gap: 0px;
    box-sizing: border-box;
}

body{
   height: 100vh;
    display: flex;
    flex-direction: column;
}

#sudoku_title{
    align-content: center;
    justify-items: center;
    min-height: 80px;
    margin-bottom: 15px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

    color: rgb(239, 239, 241);
    background-color: rgb(149, 149, 156);
    box-shadow: 5px 5px 5px rgb(187, 187, 194);
}

#game_settings{
    display: flex;
    min-height: 30px;
    width: 500px;
    min-width: 425px;
    margin: auto auto;
    gap:5px;
   
}

#difficulty_setting{
    display: grid;
    grid-template-columns: auto auto;
    width: calc(100% / 3);
    align-items: center;
}

#difficulty_lable{
    border: 1px solid black;
    height: 25px;
    min-width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.dropdown{
    display: inline;
}

.dropdown button{
   
}

#difficulty_dropdown_button{
    width:75px;
    height: 25px;
    border: 1px solid black;
    background-color: whitesmoke;
}

.dropdown .dropdown_options{
    display:none;
    position: absolute;
}

.dropdown .dropdown_options button{
    display: block;
    width: 75px;
    height: 25px;
    
}

.dropdown:hover .dropdown_options{
    display: block;
    width: 75px;
    
    background-color: lightgrey;
}

#generate_game{
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
}

#generate_game button{
    height: 25px;
    width: 80%;
    min-width: 130px;
    border: 1px solid black;
}

#autocheck{
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#autocheck_lable{

}

.autocheck_btn{
    height: 25px;
    width: 30px;
    border: 1px solid black;
    
}

.autocheck_btn_active{
    background-color: rgb(149, 149, 156) ; 
    color: white;
}

#pencil{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 30px;
    border: 1px solid black;
}

#pencil_img{
    height: 25px;
    width: 25px;
}

.pencil_on{
    /* filter: brightness(0) saturate(100%) invert(35%) sepia(35%) saturate(4229%) hue-rotate(339deg) brightness(98%) contrast(83%); */
    filter: brightness(0) saturate(100%) invert(80%) sepia(5%) saturate(3846%) hue-rotate(166deg) brightness(94%) contrast(102%);
}

#board_container{
    /* min-height: 475px; */
    flex: 1;
    justify-items: center;
    

}

#board{
    display: grid;
    grid-template-columns: repeat(9,1fr);

    height: 92%;
    aspect-ratio: 1/1;
    
    margin:10px auto;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.cell{
   width: 100%;
   height: 100%;
   min-width: 47px;
   min-height: 47px;
}

.game_cell{
   border: 1px solid lightgray;
   background-color: white;
   
   justify-content: center;

}

.answer{

    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    height: 50%;
}

.notes{
    display: flex;
    justify-content: center;
    font-size: x-small;
    height: 25%;
    pointer-events: none;
}



.complete_cell{
   border: 1px solid darkgrey;
   background-color: lightgrey;
   display: flex;
   align-items: center;
   justify-content: center;

}

.bottom_border{ border-bottom: 1px solid black !important;}

.right_border{border-right: 1px solid black !important;}

.left_border{border-left: 1px solid black !important;}

.top_border{border-top: 1px solid black !important;}

.highlighted_cell{
    background-color: lightblue;
    border-color: rgb(160, 158, 158);
}

.wrong{
    background-color: rgb(207, 81, 81);
}

#win_pop_up{
    position: absolute;
    left: calc(50vw - 150px);
    height: 400px;
    width: 300px;
    background-color: lightblue;
    border: 4px solid rgb(147, 189, 202);
    box-shadow: 5px 5px 5px rgb(175, 175, 180);
    
}

#pop_up_text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:25px;
    margin-top: 15px;
    color: whitesmoke;
}

#close_pop_up_btn{
    display: flex;
    justify-content: flex-end;
    margin:10px;
}

#close_pop_up_btn button{
    width:25px;
    height: 25px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid rgb(147, 189, 202);
    border-radius: 5px;
}

#close_pop_up_btn button:hover{
   background-color: rgb(235, 231, 231);
}

#pop_up_play_again_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#pop_up_play_again_btn button{
    height: 40px;
    width: 120px;
    background-color: white;
    border: 2px solid rgb(147, 189, 202);
    border-radius: 5px;
}

#pop_up_play_again_btn button:hover{
    background-color: rgb(235, 231, 231);
}

.hide{
    visibility: hidden;
}